#map{
    width: auto;
}
#grid-map{
    margin-bottom: 20px;
}

#text1{
    padding: 10px 35px 0px 35px;
}
#text2{
    padding: 130px 15px 0px 35px;

}
#text3{
    padding: 120px 35px 0px 20px;
}

@media only screen and (max-width: 600px) {
    #text1{
        padding: 10px 35px 0px 35px;
    }
    #text2{
        padding: 10px 35px 0px 35px;
    
    }
    #text3{
        padding: 10px 35px 0px 35px;
    }
}